body{
    margin: 0;
    padding: 0;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.light{
    background-color: #FFECDA;
    color: #333;
}
.dark{
    background-color: grey;
    color: gold;
}
